POSTGRES_VERSION=postgres@sha256:a426e44bac0b759c95894d68e1a0ac03ecc20b619f498a91aae373bf06d8508d
POSTGRES_CONTAINER_NAME=mailservice-postgres
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_PORT=5432

REDIS_VERSION=redis@sha256:02f2cc4882f8bf87c79a220ac958f58c700bdec0dfb9b9ea61b62fb0e8f1bfcf
REDIS_CONTAINER_NAME=mailservice-redis
REDIS_PORT=6379
REDIS_INSIGHT_CONTAINER_NAME=mailservice-redis-insight
REDIS_INSIGHT_PORT=5540